body {
  background-color: #030711
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Light.otf);
}

h1 {
  color: #ffffff;
  font-family: "SF Pro Display Bold";
  font-size: 48px;
  font-weight: 700;
  padding-left: 20%;
  padding-top: 300px;
  margin-bottom: 0px;
}

.projectsbox {
  margin-top: -80px;
  padding-top: 70px;
  margin-bottom: -340px;
  margin-left: 65%;
  width: 500px;
  height: 350px;
  border-radius: 11px;
  background-color: #ffffff00;
  }

.projectsboxtitle {
  margin-top: -72px;
  margin-left: 66.33%;
  padding-left: 0px;
  padding-top: 15px;
  width: 180px;
  opacity: 0.15;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

#projecttext:hover {
  opacity: 1;
}

#projecttext:hover + .projectsbox {
  background-color: #ffffff07;
}

#projectcontainer {
  visibility: hidden;
}

#projecttext:hover + #projectcontainer {
  visibility: visible;
}

.projecttitle {
  font-family: "SF Pro Display Light";
  margin-left: 30px;
  font-size: 18px;
  color: #ffffffe5;
  opacity: 1;
}

.projectdisc {
  font-family: "SF Pro Display Thin";
  color: #ffffffad;
  width: 370px;
  margin-top: -5px;
  margin-left: 30px;
  font-size: 18px;
}

.subtitle {
  color: rgba(255,255,255,0.53);
  font-family: "SF Pro Display Regular";
  font-size: 18px;
  font-weight: 400;
  padding-left: 20%;
  padding-bottom: 15px;
}

hr {
  height: 0px;
  width: 175px;
  margin-left: 20%;
  border: solid 1px #49536c
}

.githubbutton {
  margin-left: 8px;
}

.githubbutton:hover {
  opacity: 0.7;
}

.githubicon {
  height: 28px;
  width: 28px;
}
